@font-face
  font-family: Bringin
  src: url(../font/Bringin.otf)
@font-face
  font-family: Opensansbold
  src: url(../font/Opensansbold.ttf)
@font-face
  font-family: Raleway
  src: url(../font/Raleway.ttf)
@font-face
  font-family: OpenSans
  src: url(../font/OpenSans.ttf)
@font-face
  font-family: RobotoBlack
  src: url("../font/RobotoBlack.ttf")