$Headerblue: #36aeea

.headerbacground
  //background: url("../images/Hbackground.png") no-repeat center center fixed
  //-webkit-background-size: cover
  //-moz-background-size: cover
  //-o-background-size: cover
  //background-size: cover

  background-image: url("../images/Hbackground.png")
  background-size: cover
  height: 698px

.colorMountains
  color: $Headerblue
  padding: 0
  margin: 0
.colortains
  color: #bac6cb
  padding: 0
  margin: 0
.navtextsize
  font-size: 0.55em
  padding-left: 0
  padding-right: 0
.titlefont
  font-size: 1.5em
  font-family: Bringin
.headerbottom
  color: $Headerblue
  border: solid $Headerblue 2px
  font-size: 0.7em
  width: 154px
  height: 45px
  &:hover
    background-color: $Headerblue
    color: white
    border: solid $Headerblue 2px
  //.btn-primary:focus
  //.btn-primary:visited
  // background-color: green
  // color: white

.headerbottompading
  padding-right: 0

.navbacground
 padding-top: 23px
 padding-bottom: 21px

nav
  a
   color: #bac6cb
.navbacgroundimg
  position: absolute
  left: auto
.headerbordebrloc
  height: 325px
  border: solid white 2px
  margin-top: 150px
  position: relative
.fontitalic
  font-family: Bringin
  font-size: 3.9em
  line-height: 0
  color: $Headerblue
.fontbold
  font-family: Opensansbold
  font-size: 3em
  color: white
  //letter-spacing: 14px
  //word-spacing: 2px
.hedertextpadding
 width: 500px
 margin: 20px 0 0 0
.headercolorgrey
  color: #bac6cb
  font-size: 1.2em
.bottomheader
  color: $Headerblue
  border: solid $Headerblue 2px
  background-color: $Headerblue
  color: white
  font-size: 0.9em
  width: 256px
  height: 62px
  font-family: Raleway
  font-weight: 300
  letter-spacing: 2px
  &:hover
    background-color: $Headerblue
    color: white
    border: solid $Headerblue 2px
//.headhat
//  position: absolute
//  left: 733px
//  top: -80px

@font-face
  font-family: Bringin
  src: url(../font/Bringin.otf)
@font-face
  font-family: Opensansbold
  src: url(../font/Opensansbold.ttf)
@font-face
  font-family: Raleway
  src: url(../font/Raleway.ttf)