$Headerblue: #36aeea
$Headergrey: #bac6cb
$aboutUs_bg_color: #f6f4f4
$aboutUs_grey: #9b9a9a
$journalHblue: #16b5ef
$inputGrey: #848484
$zigzaggrey: #d2d2d2
$schemeblue: #36aeea
$schemegreybacground: #f0f3f6
$schemegreytext: #949494

$pointTomobile: 600px

.zigzag_heading
 background-image: linear-gradient(to bottom right, transparent 50.5%, white 50.5%), linear-gradient(to bottom left, transparent 50.5%, white 50.5%), linear-gradient(to bottom right, transparent 50.5%, $zigzaggrey 50.5%), linear-gradient(to bottom left, transparent 50.5%, $zigzaggrey 50.5%)
 background-repeat: repeat-x, repeat-x
 background-position: 5px 2px, 5px 2px, 5px 0, 5px 0  /*  двигаем градиент-блоки */
 background-size: 10px 10px, 10px 10px  /* регулируем высоту */
 height: 10px
 width: 80px

.zigzag_heading_grey
 background-image: linear-gradient(to bottom right, transparent 50.5%, $aboutUs_bg_color 50.5%), linear-gradient(to bottom left, transparent 50.5%, $aboutUs_bg_color 50.5%), linear-gradient(to bottom right, transparent 50.5%, $zigzaggrey 50.5%), linear-gradient(to bottom left, transparent 50.5%, $zigzaggrey 50.5%)
 background-repeat: repeat-x, repeat-x
 background-position: 5px 2px, 5px 2px, 5px 0, 5px 0  /*  двигаем градиент-блоки */
 background-size: 10px 10px, 10px 10px  /* регулируем высоту */
 height: 10px
 width: 80px

@import "header.sass"
@import "about_us.sass"
@import "journal.sass"
@import "form.sass"
@import "scheme.sass"
@import "travel.sass"
@import "gallery.sass"
@import "logos.sass"
@import "footer.sass"


@import "font's.sass"