$Headerblue: #36aeea
$Headergrey: #bac6cb
$aboutUs_bg_color: #f6f4f4
$aboutUs_grey: #9b9a9a
$journalHblue: #16b5ef
$inputGrey: #848484

.header
 padding-top: 23px
 padding-bottom: 21px
 background-color: rgba(255, 255, 255, 0.23)

 &_bacground
  background-image: url("../images/Hbackground.png")
  background-size: cover
  height: 698px
  padding: 0
 &_logo
  font-size: 1.5em
  font-family: Bringin

  &_moun
   color: $Headerblue
   padding: 0
   margin: 0
  &_tains
   color: $Headergrey
   padding: 0
   margin: 0
 &_nav
  font-size: 0.55em
  padding-left: 0
  padding-right: 0
  font-family: Opensansbold

  &_link
   border-bottom: transparent solid 2px
   padding: 0
   margin-right: 25px
   color: $Headergrey

   &:hover
    color: $Headergrey
    border-bottom: solid $Headerblue 2px
    border-radius: 0
 &_bottom
  color: $Headerblue
  border: solid $Headerblue 2px
  font-size: 0.7em
  width: 154px
  height: 45px
  &:hover
   background-color: $Headerblue
   color: white
   border: solid $Headerblue 2px
  &_container
   padding-right: 0
 &_mainBloc
  height: 325px
  border: solid white 2px
  margin-top: 150px
  position: relative
  &_textPadding
   margin: 25px 0 0 10px
   padding: 0
  &_ItalicHeading
   font-family: Bringin
   font-size: 3.9em
   line-height: 0
   color: $Headerblue
   word-spacing: -6px
   letter-spacing: 4px
  &_BoldHeading
   font-family: Opensansbold
   font-size: 3.3em
   color: white
   word-spacing: -6px
   letter-spacing: 8px
  &_p
   color: $Headergrey
   font-size: 1.2em
   font-family: Opensans
   padding-top: 20px
   padding-bottom: 8px
  &_bottom
   border: solid $Headerblue 2px
   background-color: $Headerblue
   color: white
   font-size: 0.9em
   width: 256px
   height: 62px
   font-family: Raleway
   font-weight: 300
   letter-spacing: 2px
   &:hover
    background-color: $Headerblue
    color: white
    border: solid $Headerblue 2px






.headhat
  position: absolute
  left: 939px
  top: 137px
  z-index: 1

.aboutUs
 height: 667px
 background-color: $aboutUs_bg_color
 position: relative
 &_images
  height: 667px
  padding: 0
  z-index: 0
  &_waves
   padding-right: 0
  &_earth
   z-index: 0
   position: absolute
   top: 24px
   left: 488px
  &_main
   padding-bottom: 39px
   padding-left: 0
  &_empty
   padding-right: 0
  &_img
   position: absolute
   z-index: 0
   top: -37px
   left: 937px
 &_textblock
  height: 667px
  &_margin
   margin-top: -37px
   padding-left: 15px
  h1
   font-family: OpenSansbold

   font-size: 20px
   padding-top: 31.5px
  p
   color: $aboutUs_grey
   font-family: OpenSans
   font-size: 14px
   padding-top: 10px
   line-height: 26px
   padding-bottom: 8.5px
  button
   border: solid $Headerblue 2px
   background-color: $Headerblue
   color: white
   font-size: 12px
   width: 130px
   height: 40px
   font-family: OpenSans
   font-weight: bold
   letter-spacing: 2px
   &:hover
    background-color: $Headerblue
    color: white
    border: solid $Headerblue 2px

.journal
 height: 978px
 background-color: white

 &_shadow
  box-shadow: 0 0 30px rgba(0,0,0,0.1)
  .row
   height: 380px
 &_1_mainText
  margin-bottom: 42px
  margin-left: 41px
  margin-right: 39px
 &_heading
  font-family: Opensansbold
  font-size: 30px
  padding-top: 26px
  margin-bottom: 70px
  &_container
   padding-top: 64px
 &_1_img
  background-image: url("../images/Journal/journal1.png")
  height: 380px
  &_1
   width: 100%
 &_2_img
  background-image: url("../images/Journal/journal2.png")
  height: 380px
 &_3_img
  background-image: url("../images/Journal/journal3.png")
  height: 380px

 &_text
  height: 380px
  margin-top: 47px
  h1
   font-family: Opensansbold
   font-size: 11px
   color: $journalHblue
   letter-spacing: 2px
   margin-bottom: 55px
   //margin-top:
  h2
   font-family: Opensansbold
   font-size: 16.15px
   text-transform: uppercase
   letter-spacing: 3px
   word-spacing: -3px
   padding-left: 5px
   padding-right: 5px
   line-height: 23.5px
   margin-bottom: 29px
  p
   font-family: OpenSans
   font-size: 14px
   color: $aboutUs_grey
   word-spacing: -1px
  &_list
   font-family: "Times New Roman" !important
   font-size: 14px !important
   color: #000 !important
   font-style: italic !important
  &_arrow_1
   &:before
    content: ""
    border: solid transparent
    position: absolute
    right: 100%
    top: 55px
    border-right-color: #fff
    border-width: 9px
    margin-top: -9px
  &_arrow_2
   &:before
    content: ""
    border: solid transparent
    position: absolute
    left: 100%
    top: 55px
    border-left-color: #fff
    border-width: 9px
    margin-top: -9px
    z-index: 1
  &_arrow_3
   &:before
    content: ""
    border: solid transparent
    position: absolute
    bottom: 112.5%
    right: 55px
    border-bottom-color: #fff
    border-width: 9px
    margin-top: -9px
    z-index: 122
 S
  font-weight: bolder

.form
 background-image: url("../images/filds/filds_bg.png")
 height: 650px
 position: relative
 width: 100%
 padding: 0
 z-index: 0

 &_tree
  position: absolute
  bottom: 0
  left: 1236px
  z-index: 1
  &_blure
   position: absolute
   bottom: 0
   left: 1380px
   z-index: 2
 &_heading
  margin-bottom: 40px
  margin-top: 145px
  &_font
   font-family: Opensansbold
   text-transform: uppercase
   font-size: 20px
   margin-bottom: 24px
 p
  font-family: OpenSans
  font-size: 16px
  color: $aboutUs_grey
  line-height: 9px
 form
  padding: 0
 &_imput_container
  padding-left: -1px !important
  padding-right: 0 !important
  background-color: white
  height: 62px
  .phone
   border-left: 1px solid #ebebeb
   padding-left: 21px
 &_text
  margin-bottom: 33px


 &_imput
  border-radius: 0
  border: none
  padding-top: 0
  padding-bottom: 0
  height: 34px
  color: $aboutUs_grey
  &::-webkit-input-placeholder
   color: $inputGrey
  &:focus
   box-shadow: none
   outline: none
   &::-webkit-input-placeholder
    color: transparent
  &_button
   height: 54px
   width: 224px

   background-color:  $Headerblue
   border-color: $Headerblue
   &:hover
    background-color: $Headerblue
    border-color: $Headerblue
 &_lock
  padding: 0
  margin-top: 18px
  &_text
   font-family: OpenSans !important
   font-size: 14px !important
   color: $Headerblue !important
   //height: 16px
   margin: 0 !important
   vertical-align: center !important
   margin-left: 10px !important


@font-face
  font-family: Bringin
  src: url(../font/Bringin.otf)
@font-face
  font-family: Opensansbold
  src: url(../font/Opensansbold.ttf)
@font-face
  font-family: Raleway
  src: url(../font/Raleway.ttf)
@font-face
  font-family: OpenSans
  src: url(../font/OpenSans.ttf)