.header {
  padding-top: 23px;
  padding-bottom: 21px;
  background-color: rgba(255, 255, 255, 0.23);
}
.header_bacground {
  background-image: url("../images/Hbackground.png");
  background-size: cover;
  height: 698px;
  padding: 0;
}
.header_logo {
  font-size: 1.5em;
  font-family: Bringin;
}
.header_logo_moun {
  color: #36aeea;
  padding: 0;
  margin: 0;
}
.header_logo_tains {
  color: #bac6cb;
  padding: 0;
  margin: 0;
}
.header_nav {
  font-size: 0.55em;
  padding-left: 0;
  padding-right: 0;
  font-family: Opensansbold;
}
.header_nav_link {
  border-bottom: transparent solid 2px;
  padding: 0;
  margin-right: 25px;
  color: #bac6cb;
}
.header_nav_link:hover {
  color: #bac6cb;
  border-bottom: solid #36aeea 2px;
  border-radius: 0;
}
.header_bottom {
  color: #36aeea;
  border: solid #36aeea 2px;
  font-size: 0.7em;
  width: 154px;
  height: 45px;
}
.header_bottom:hover {
  background-color: #36aeea;
  color: white;
  border: solid #36aeea 2px;
}
.header_bottom_container {
  padding-right: 0;
}
.header_mainBloc {
  height: 325px;
  border: solid white 2px;
  margin-top: 150px;
  position: relative;
}
.header_mainBloc_textPadding {
  margin: 25px 0 0 10px;
  padding: 0;
}
.header_mainBloc_ItalicHeading {
  font-family: Bringin;
  font-size: 3.9em;
  line-height: 0;
  color: #36aeea;
  word-spacing: -6px;
  letter-spacing: 4px;
}
.header_mainBloc_BoldHeading {
  font-family: Opensansbold;
  font-size: 3.3em;
  color: white;
  word-spacing: -6px;
  letter-spacing: 8px;
}
.header_mainBloc_p {
  color: #bac6cb;
  font-size: 1.2em;
  font-family: Opensans;
  padding-top: 20px;
  padding-bottom: 8px;
}
.header_mainBloc_bottom {
  border: solid #36aeea 2px;
  background-color: #36aeea;
  color: white;
  font-size: 0.9em;
  width: 256px;
  height: 62px;
  font-family: Raleway;
  font-weight: 300;
  letter-spacing: 2px;
}
.header_mainBloc_bottom:hover {
  background-color: #36aeea;
  color: white;
  border: solid #36aeea 2px;
}

.headhat {
  position: absolute;
  left: 939px;
  top: 137px;
  z-index: 1;
}

.aboutUs {
  height: 667px;
  background-color: #f6f4f4;
  position: relative;
}
.aboutUs_images {
  height: 667px;
  padding: 0;
  z-index: 0;
}
.aboutUs_images_waves {
  padding-right: 0;
}
.aboutUs_images_earth {
  z-index: 0;
  position: absolute;
  top: 24px;
  left: 488px;
}
.aboutUs_images_main {
  padding-bottom: 39px;
}
.aboutUs_images_img {
  position: absolute;
  z-index: 0;
  top: -37px;
  left: 937px;
}
.aboutUs_textblock {
  height: 667px;
}
.aboutUs_textblock_margin {
  margin-top: -37px;
}
.aboutUs_textblock h1 {
  font-family: OpenSansbold;
  font-size: 20px;
  padding-top: 31.5px;
}
.aboutUs_textblock p {
  color: #9b9a9a;
  font-family: OpenSans;
  font-size: 14px;
  padding-top: 10px;
  line-height: 26px;
  padding-bottom: 8.5px;
}
.aboutUs_textblock button {
  border: solid #36aeea 2px;
  background-color: #36aeea;
  color: white;
  font-size: 12px;
  width: 130px;
  height: 40px;
  font-family: OpenSans;
  font-weight: bold;
  letter-spacing: 2px;
}
.aboutUs_textblock button:hover {
  background-color: #36aeea;
  color: white;
  border: solid #36aeea 2px;
}

@font-face {
  font-family: Bringin;
  src: url(../font/Bringin.otf);
}
@font-face {
  font-family: Opensansbold;
  src: url(../font/Opensansbold.ttf);
}
@font-face {
  font-family: Raleway;
  src: url(../font/Raleway.ttf);
}
@font-face {
  font-family: OpenSans;
  src: url(../font/OpenSans.ttf);
}

/*# sourceMappingURL=style.css.map */
